
spring:
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
  profiles:
    active: "default"
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}
  application:
   name: department
  datasource:
    url: 'jdbc:h2:mem:depdb'
  h2:
   console:
    enabled: true
  #    url : jdbc:mysql://localhost:3306/test
  #    username: root
  #    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: true
    discovery:
      enabled: true
management:
  endpoints:
    web:
      exposure:
        include: '*'
eureka:
  client:
   service-url:
    defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}

